/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

/******************************************
/* LAYOUT
/*******************************************/
img {
  display: block;
  margin: 0 auto;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

body {
  background: linear-gradient(-45deg, #c41bb6, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  font-size: 3rem;
}

h1,
h2 {
  margin: 0 0 2rem 0
}

.container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  text-decoration: underline;
  font-weight: 900;
}

.container h3 {
  font-size: 3rem;
  font-weight: 900;
  display: flex;
  justify-content: space-around;

}

li {
  font-size: 2rem;
  list-style: none;
  color: black;
  margin: 2rem 0;
}

select {
  width: 100%;
  font-size: 2rem;
  margin: 2rem 0;
}

img {
  max-width: 900px;
  max-height: 700px;
}